*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* NOTE: navbar sart */
.navbarcolor{
  background: linear-gradient(to right,#ef32d9,#89fffd)!important;
}

nav div ul li a{
  color: white!important;
  font-family: 'Sunshiney', cursive;
  font-size: 22px;
}

/* NOTE: navbar end */
.logoname{
  padding-top: 7px!important;
  color: black!important;
  }


.bordecopado{
    display: inline-block;
    height: auto;
    padding: 4px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid rgb(218, 105, 97)!important;
    max-height: 300px!important;
    border-radius: 50%!important;
    margin-top: 70px;
  }
.muestra{
  padding-top: 20px;
}
.encabezado{
display: block;
width: 100%;
text-align: center;
}
.tamaño{
  float: none;
  width: 100%!important;
}
aside{
  position: absolute;
  width: 200px;
  height: 500px;
  background: red;
  float: left;
}
/* NOTE: sig in start */
.signin {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* NOTE: sig in end */

/* NOTE: footer start */
footer{
  background: linear-gradient(to left,#7b4397 ,#dc2430);
  color: white;
  font-family: 'Sunshiney', cursive;
  font-size: 22px;
}
footer ul, footer h3{
list-style: none;
text-align: center;
}
footer ul li a{
  color: white;
}
footer h3{
  text-decoration: underline;
}
/* NOTE: footer end */
